.body{
    background-color: #B6B6B6;
}
.borders{ 
   border: 3px solid rgb(51, 0, 255);
  
}
.hrstyle{
   border: 5px solid blue;
   border-radius: 5px;
}
.hrstyle1{
   border: 3px solid blue;
   border-radius: 5px;
}
.aligning{
   text-align: left;
}
